@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import './reciple-list.css';
@import './button.css';
@import './recipe.css';
@import './ingredient.css';
@import './recipe-edit.css';

*, *::before, *::after {
  font-family: 'Balsamiq Sans', cursive;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  padding: 0;
  margin: 0;
}

.mr-1 {
  margin-right: 5px;
}